<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.analogwatchface">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Analog Watch Face"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <service
            android:name=".presentation.AnalogWatchFaceService"
            android:label="Analog Watch Face"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.standalone"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

    </application>

</manifest>